.items {
    list-style: none;
    padding-left: 0;

    article button, article p, article input {
        display: inline-block;
    }
}

.toDoItem {

    &:hover {
        .check {
            display: inline;
            background-color: #00f42f;
        }
        .delete {
            display: inline;
            background-color: #ff0000;
        }
    }

    .delete {
        display: none;
    }

    button {
        margin-left: $bttnMarginSpacing;
        border-radius: $itemBttnRoundness;
        height: $itemBttnSize;
    }
}
